body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.bold {
    font-weight: bold;
}

input, select, option {
    color: #333;
}

.jumbotron {
    margin-top: 2em;
    color: #333 !important;
    padding-top: 2em;
}

    .jumbotron h2 {
        color: #333 !important;
    }

.mtop-2 {
    margin-top: 2em;
}

.ptop-2 {
    padding-top: 2em;
}

.rounded {
    /*border-collapse: collapse;
    border-spacing: 0;*/
    border-radius: 8px;
}

    /*.rounded th:first-child {
        border-radius: 10px 0 0 0;
    }

    .rounded th:nth-child(2n) {
        border-top: none;
        border-left: none;
        border-right:none;
    }

    .rounded th:nth-child(2n+1) {
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .rounded th:last-child {
        border-radius: 0 10px 0 0;
    }

    .rounded th:only-child {
        border-radius: 10px 10px 0 0;
    }*/
