body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.bold {
    font-weight: bold;
}

input, select, option {
    color: #333;
}

.jumbotron {
    margin-top: 2em;
    color: #333 !important;
    padding-top: 2em;
}

    .jumbotron h2 {
        color: #333 !important;
    }

.mtop-2 {
    margin-top: 2em;
}

.ptop-2 {
    padding-top: 2em;
}

.rounded {
    /*border-collapse: collapse;
    border-spacing: 0;*/
    border-radius: 8px;
}

#linechart_material {
    min-width: 100%;
    min-height: 200px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    color: #333;
    margin: auto auto;
    width: fit-content;
    margin-top: 2em;
    border: 8px solid #fff;
}

.chart_inner {
    padding-top: 6em;
}
