@model MyGlucoseDotNetCore.Models.GlucoseEntry

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>GlucoseEntries</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Measurement" class="control-label"></label>
                <input asp-for="Measurement" class="form-control" />
                <span asp-validation-for="Measurement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeforeAfter" class="control-label"></label>
                <select asp-for="BeforeAfter" class="form-control"></select>
                <span asp-validation-for="BeforeAfter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhichMeal" class="control-label"></label>
                <select asp-for="WhichMeal" class="form-control"></select>
                <span asp-validation-for="WhichMeal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

