@{
    ViewData["Title"] = "Glucose Chart";
}

<h2>Index</h2>

<div id="linechart_material"></div>

@section scripts{
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/glucoseChart.js"></script>
    }


}
