@{
    ViewData[ "Title" ] = "Glucose Entries for " + ViewData[ "UserName" ];
}

<h2>@ViewData[ "Title" ]</h2>

<div style="padding:3em 0em;">
    From: <input type="date" class="fromDate" />
    To: <input type="date" class="toDate" />
</div>

<div id="linechart_material">Please wait...</div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/glucoseChart.js"></script>
}
