@{
    ViewData[ "Title" ] = "Carbohydrate History for user " + ViewData[ "UserName" ];
}

<h2>@ViewData[ "Title" ]</h2>

<div id="linechart_material">Please wait...</div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="~/js/mealChart.js"></script>

}

