@{
    ViewData["Title"] = "About My Glucose";
}
<h2>@ViewData["Title"]</h2>

<h3>Designed and Developed by: Team Sugar Cubes</h3>
<div>
    <p>
        <h4>Joshua Kirk</h4>
        Scrum Master, Developer, ETSU Student
        <h4>J.T. Blevins</h4>
        Product Owner, Developer, ETSU Student
        <h4>Austin Bowman</h4>
        Developer, ETSU Student
        <h4>Heather Harvey</h4>
        Developer, ETSU Student
        <h4>Tasha Ince </h4>
        Developer, ETSU Student
        <h4>Caleb Mann</h4>
        Developer, ETSU Student
    </p>
</div>

<h3>What is My Glucose?</h3>
<p> My Glucose is a web application that can to be used to register new users and<br />
    allow them to enter their personal information to be stored in the database.<br />
    The data is then used by the mobile Android application to connect them with<br />
    those who will be able to help them with their glucose needs. Your data will be<br />
    kept confidential and will only be released to the doctors you choose. Your data<br />
    will not be sold to a third party enitity for use in solicitation or marketing<br />
    purposes.</p>


<h3>Frequently Asked Questions (FAQs)</h3>
<h4>Why do you need my information?</h4>
<p>We ask for your information to best connect you with someone who can help you<br />
    with all of your glucose needs.</p>
<h4>Who will see my personal information?</h4>
<p>No one will see your information without your explicit consent and an electronic<br />
    signature of approval for the release of your information.</p>
