@{
    ViewData["Title"] = "This page is not done yet!";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<<<<<<< HEAD
<p>Come back later</p>


<!--I'm a comment
    shared_layout-->
=======
<p>This web application is to be used to register new users and allows them to<br />
    enter their personal information to be stored in the database. The data is then<br />
    used by the mobile Android application.</p>
>>>>>>> 6af03f813baa69a3733609f5f3e603fc4ec8142a
