@{
    ViewData["Title"] = "About My Glucose";
}
<h2>@ViewData["Title"]</h2>

<h3>Team Members</h3>
<p>
    Joshua Kirk - Scrum Master, Developer, ETSU Student<br />
    J.T. Blevins - Product Owner, Developer, ETSU Student<br />
    Austin Bowman - Scrum Master, Developer, ETSU Student<br />
    Caleb Mann - Devevloper, ETSU Student<br />
    Heather Harvey - Devevloper, ETSU Student<br />
    Tasha Ince - Developer, ETSU Student
</p>

<h3>What is My Glucose?</h3>
<p> My Glucose is a web application that can to be used to register new users and<br />
    allow them to enter their personal information to be stored in the database.<br />
    The data is then used by the mobile Android application to connect them with<br />
    those who will be able to help them with their glucose needs. Your data will be<br />
    kept confidential and will only be released to the doctors you choose. Your data<br />
    will not be sold to a third party enitity for use in solicitation or marketing<br />
    purposes.</p>

<h3>Contact Info</h3>
<p>Email: mgmt@myglucosetracker.net<br />
   Phone: 1-800-GLU-COSE<br />
   1249 Shire Industrial Drive<br />
   Johnson City, TN. 37601</p>

<h3>Frequently Asked Questions (FAQs)</h3>
<h4>Why do you need my information?</h4>
<p>We ask for your information to best connect you with someone who can help you<br />
    with all of your glucose needs.</p>
<h4>Who will see my personal information?</h4>
<p>No one will see your information without your explicit consent and an electronic<br />
    signature of approval for the release of your information.</p>
