@{
    ViewData["Title"] = "Home";
}
<body style="background: #ADD8E6">
<!-- <h2>@ViewData["Title"]</h2> -->
<h2 align="middle">@ViewData["Message"]</h2>
<br />
<br />
<br />
<br />
<div align="middle">
    <img src="~/images/SugarCube.png" alt="Sugar Cube" align="center"> &nbsp;
    <br />
    <br />
    <br />
</div>
<br />
<br />
<br />

<!--Start of Experimental Carousel-->
<div id="myCarousel" style="width: 600px; margin: auto;" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active" align="center">
            <a class="btn btn-default" style="border: #ffffff" href="https://localhost:44346/Account/Login">
                <img src="~/images/Login.jpg" alt="Login" style="height: 100px" class="img-responsive" />
            </a>
            
        </div>
        <div class="item" align="center">
            <a class="btn btn-default" style="border: #ffffff" href="https://localhost:44346/Home/RoleSelect">
                <img src="~/images/Register.jpg" style="height: 100px" style="height: 100px" alt="registration" class="img-responsive" />
            </a>
            
        </div>
        <div class="item" align="center">

            <a class="btn btn-default" style="border: #ffffff" href="https://localhost:44346/Home/About">
                <img src="~/images/Questions.jpg" alt="Questions" class="img-responsive" />
            </a>
            <div class="carousel-caption" role="option">
                <p align="center" style="color:black">
                    Frequently asked Questions
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</body>





