
@{
    ViewData["Title"] = "Index";
}

<h2>Pick your functionality</h2>

<select onchange="location = this.value;">
    <option value="">----------- Select an Option -----------</option>
    <option value="/Chart/GlucoseIndex">Glucose Graph</option>
    <option value="/Chart/ExerciseIndex">Exercise Graph</option>
    <option value="/Chart/MealIndex">Meal Graph</option>
</select>
 