@*@model IEnumerable<MyGlucoseDotNetCore.Models.ViewModels.DoctorViewModel>*@
@model Patient

@{
    ViewData[ "Title" ] = "Index";
}

<h2>Welcome Patient</h2>

<div class="row">
    @Html.PatientChartNavigationDropDown( Model.UserName, "form-group col-sm-4" )
</div>

@*<div class="row">
    <div class="form-group col-sm-4">
        <select onchange="location=this.value;" class="form-control">
            <option value="">-- Select a Graph to View --</option>
            <option value="/Chart/GlucoseIndex/?UserName=@Model.UserName">Glucose Graph</option>
            <option value="/Chart/ExerciseIndex/?UserName=@Model.UserName">Exercise Graph</option>
            <option value="/Chart/MealIndex/?UserName=@Model.UserName">Meal Graph</option>
            <option value="/Chart/StepIndex/?UserName=@Model.UserName">Step Graph</option>
        </select>
    </div>
</div>*@
